body {
    background-image: url('images/AdobeStock_451448262.jpeg');
    background-repeat: repeat;
    background-size: cover;
    animation: scrollBackground 20s linear infinite;
}

@keyframes scrollBackground {
    0%   { background-position: 0 0; }
    100% { background-position: -500px 500px; }
}

a, a:link, a:visited, a:hover, a:active {
    color: white;
    font-size: 50px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-decoration: none; 
}

.enlarge-text {
  display: inline-block;
  transition: transform 0.3s ease;
}

.enlarge-text:hover {
  transform: scale(1.5);
}

.col{
    background-color: rgba(0, 0, 0, 0.5);
}